<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-color: #3d4349;
        }
        .container {
            background-color: #EEEEEE;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
        h1 {
            color: #007bff;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        .bg-3d4349 {
            background-color: #3d4349;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-center mb-4 bg-3d4349 py-2 rounded-top">
            <h1 class="text-white">Crud de Peliculas de ivan</h1>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#addMovieModal">Registrar Películass</button>
        </div>
        <div class="row">
            {{range .peliculas}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <h5 class="card-title bg-3d4349 text-white px-3 py-2 rounded-top">{{.Titulo}}</h5>
                    <div class="card-body">
                        
                        <p class="card-text">ID: {{.ID}}</p>
                        <p class="card-text">Género: {{.Genero}}</p>
                        <p class="card-text">Actores: {{.Actores}}</p>
                        <p class="card-text">Duración: {{.Duracion}}</p>
                        <p class="card-text">Clasificación: {{.Clasificacion}}</p>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary edit-movie-button"
                                data-toggle="modal" data-target="#editMovieModal"
                                data-id="{{.ID}}"  
                                data-titulo="{{.Titulo}}"
                                data-genero="{{.Genero}}"
                                data-actores="{{.Actores}}"
                                data-duracion="{{.Duracion}}"
                                data-clasificacion="{{.Clasificacion}}"
                            >
                                <i class="fas fa-pencil-alt"></i> 
                            </button>
                            <button type="button" onclick="window.location.href = '/eliminar.html?id={{.ID}}'"  class="btn btn-danger edit-movie-button">
                                <i class="fas fa-trash"></i> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-12">
                <p class="text-center">No hay películas disponibles.</p>
            </div>
            {{end}}
        </div>
    </div>
       <!-- Modal para agregar película -->
    <div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <div class="text-center ">
                        <h5 class="modal-title text-white" id="addMovieModalLabel">Agregar Película</h5>

                    </div>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para agregar película -->
                    <form action="/guardar" method="POST">
                        <div class="form-group">
                            <label for="titulo">Titulo:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                        </div>

                        <div class="form-group">
                            <label for="genero">Género:</label>
                            <select class="form-control" id="genero" name="genero" required>
                                <option value="Accion">Acción</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Suspenso">Suspenso</option>
                                <option value="Terror">Terror</option>
                                <option value="Comedia">Comedia</option>
                                <option value="Drama">Drama</option>
                            </select>
                        </div>

                        
                        <div class="form-group">
                            <label for="actores">Actores que participan:</label>
                            <input type="text" class="form-control" id="actores" name="actores" required>
                        </div>
                        <div class="form-group">
                            <label for="duracion">Duracion:</label>
                            <input type="text" class="form-control" id="duracion" name="duracion" required>
                        </div>

                        <div class="form-group">
                            <label for="clasificacion">Clasificación:</label>
                            <select class="form-control" id="clasificacion" name="clasificacion" required>
                                <option value="G">G (Apta para todos los públicos)</option>
                                <option value="PG">PG (Sugiere la supervisión de los padres)</option>
                                <option value="PG-13">PG-13 (Apta para mayores de 13 años)</option>
                                <option value="R">R (Menores de 17 años requieren acompañamiento)</option>
                                <option value="NC-17">NC-17 (Sólo para adultos mayores de 17 años)</option>
                                <option value="Unrated">Sin clasificación</option>
                            </select>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Registrar Pelicula</button>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal para actualizar -->
    <div class="modal fade" id="editMovieModal" tabindex="-1" role="dialog" aria-labelledby="editMovieModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <div class="text-center ">
                        <h5 class="modal-title text-white" id="addMovieModalLabel">Modificar datos de la Película</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para actualizar la película -->
                    <form action="/actualizar" method="POST">
                        <input type="hidden" id="id" name="id" value="{{.id}}">
    
                        <div class="form-group">
                            <label for="titulo">Título:</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" value="{{.titulo}}" required>
                        </div>
    
                        <div class="form-group">
                            <label for="genero">Género:</label>
                            <select class="form-control" id="generoEditar" name="genero" required>
                                <option value="Accion">Acción</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Suspenso">Suspenso</option>
                                <option value="Terror">Terror</option>
                                <option value="Comedia">Comedia</option>
                                <option value="Drama">Drama</option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <label for="actores">Actores que participan:</label>
                            <input type="text" class="form-control" id="actores" name="actores" value="{{.actores}}" required>
                        </div>
                        <div class="form-group">
                            <label for="duracion">Duración:</label>
                            <input type="text" class="form-control" id="duracion" name="duracion" value="{{.duracion}}" required>
                        </div>
                        <div class="form-group">
                            <label for="clasificacion">Clasificación:</label>
                            <select class="form-control" id="clasificacion" name="clasificacion" required>
                                <option value="G">G (Apta para todos los públicos)</option>
                                <option value="PG">PG (Sugiere la supervisión de los padres)</option>
                                <option value="PG-13">PG-13 (Apta para mayores de 13 años)</option>
                                <option value="R">R (Menores de 17 años requieren acompañamiento)</option>
                                <option value="NC-17">NC-17 (Sólo para adultos mayores de 17 años)</option>
                                <option value="Unrated">Sin clasificación</option>
                            </select>
                        </div>
    
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Registrar modificación</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Captura el clic en el botón "Editar"
            $(".edit-movie-button").click(function () {
                var id = $(this).data("id");
                var titulo = $(this).data("titulo");
                var genero = $(this).data("genero");
                var actores = $(this).data("actores");
                var duracion = $(this).data("duracion");
                var clasificacion = $(this).data("clasificacion");
    
                // Llena los campos del modal de edición con los datos de la película
                $("#editMovieModal #id").val(id);
                $("#editMovieModal #titulo").val(titulo);
                $("#editMovieModal #generoEditar").val(genero); // Usar el id del select actualizado
                $("#editMovieModal #actores").val(actores);
                $("#editMovieModal #duracion").val(duracion);
                $("#editMovieModal #clasificacion").val(clasificacion);
            });
        });
    </script>

    
</body>
</html>
